*{
    margin:0;
    padding:0;
    font-family: "Poppins", sans-serif;
}

.main_box{
    background-image: url("photo.jpg");
    height:100vh;
    background-size:cover;
}

#btn_one i{
    color: white;
    font-size:30px;
    font-weight:700;
    position:absolute;
    left:16px;
    line-height:60px;
    cursor:pointer;
    transition:all 0.3s linear;
}

.sidebar_menu{
    position:fixed;
    left:-300px;
    height:100vh;
    width:300px;
    background-color:rgba(255,255,255,0.1);
    box-shadow:0 0 6px rgba(255,255,255,0.5);
    transition:all 0.3s linear;
}

.sidebar_menu .logo{
    height:60px;
    width:100%;
    line-height:60px;
    position:absolute;
    box-shadow:0px 2px 4px rgba(255,255,255,0.5);
}

.sidebar_menu .logo a{
    position:absolute;
    left:60px;
    color:white;
    text-decoration:none;
    font-size:20px;
    font-weight:500;
}

.sidebar_menu .btn_two{
    position:absolute;
    right:15px;
    top:10px;
    z-index:1000;
}

.sidebar_menu .btn_two i{
    color: grey;
    font-size:25px;
    line-height:60px;
    cursor:pointer;
    opacity:0;
    transition:all 0.3s linear;
}

.sidebar_menu .btn_two:hover i{
    color:white;
    transform:scale(1.3);
}

.sidebar_menu .menu{
    position:absolute;
    width:100%;
    top:80px;
}

.sidebar_menu .menu li{
    margin:6px;
    padding:14px 20px;
}

.sidebar_menu i,a{
    color:white;
    text-decoration:none;
    font-size:20px;
}

.sidebar_menu .menu i{
    padding-right:8px;
}

.sidebar_menu .social_media{
    position:absolute;
    left:25%;
    bottom:50px;
}

.sidebar_menu .social_media i{
    color:white;
    opacity:0.5;
    padding:0 5px;
}

.sidebar_menu .menu li:hover{
    box-shadow:0px 0px 4px rgba(255,255,255,0.5);
}

/* Hover hamburger */
.btn_one i:hover{
    font-size:40px;
    transition:0.3s;
}

.sidebar_menu .social_media i:hover{
    opacity:1;
    transform:scale(1.2);
}

#check{
    display:none;
}

#check:checked ~ .sidebar_menu{
    left:0;
}

#check:checked ~ #btn_one i{
    opacity:0;
}

#check:checked ~ .sidebar_menu .btn_two i{
    opacity:1;
}